// Load modules.config for DSL2 module specific options
// Note: avoid `def` declarations in config files (cannot mix declarations
// with config statements). Use inline expressions instead where needed.
includeConfig 'preprocess.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// resource limits defined here
includeConfig 'conf/base.config'

process {

  // ------------------------------------------------------------
  // setup resource usage limits for different types of processes
  // ------------------------------------------------------------

  // high memory process like blastn (using nt database)
  withLabel: 'highmem' {
    maxForks = 2
    cpus = 24
  }

  // low memory processes that use multi-threading
  // like bowtie2
  withLabel: 'lowmem_threaded' {
    maxForks = 8
    cpus = 8
  }

  // low memory processes that don't use multi-threading
  withLabel: 'lowmem_non_threaded' {
    maxForks = 24
    cpus = 1
  }
}

/*
   Profiles allow you to run on different servers or with different base configurations

   See: https://www.nextflow.io/docs/latest/config.html#config-profiles
*/
profiles {

  local {
    exector.name = 'local'
    // if the pipeline has to access system paths outside of $HOME, $PWD, etc 
    // have to bind those paths to singularity.
    // see: https://sylabs.io/guides/latest/user-guide/bind_paths_and_mounts.html
    // in this profile, we are pointing to local intallations of NCBI databases 
    //so need to access those paths
    singularity.runOptions = "--bind /home/databases"
  }

  conda {
    conda.enabled          = true
    singularity.enabled    = false
  }

  singularity {
    params.enable_conda    = false
    singularity.enabled    = true
    singularity.autoMounts = true
  }

  docker {
    params.enable_conda    = false
    singularity.enabled    = false
    singularity.autoMounts = false
    docker.enabled = true
  }

  test {
    includeConfig 'conf/test.config'
  }
}

timeline {
  enabled = true
  file    = "${params.tracedir}/execution_timeline_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
}
report {
  enabled = true
  file    = "${params.tracedir}/execution_report_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.html"
}
trace {
  enabled = true
  file    = "${params.tracedir}/execution_trace_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.txt"
}
dag {
  enabled = true
  file    = "${params.tracedir}/pipeline_dag_${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.pdf"
}

manifest {
    name            = 'stenglein-lab/read_preprocessing'
    author          = 'Mark Stenglein'
    defaultBranch   = 'main'
    homePage        = 'https://github.com/stenglein-lab/read_preprocessing'
    description     = 'A nextflow workflow / pipeline to perform common NGS read preprocessing. This can be used as stand-alone or can be used as subworkflow in another nextflow pipeline.'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
    version         = '1.0'
}

// Note: helper functions should not be defined in this config file because
// config files cannot mix declarations with config statements. Resource
// limit logic was moved inline into `conf/base.config`.


// Turn this option on to delete all intermediate files from the analysis
// see: https://www.nextflow.io/docs/latest/config.html
// cleanup = true

