/*
========================================================================================
    nf-core/mycosnp Nextflow base config file
========================================================================================
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    cpus   = { Math.min( 1    * task.attempt, params.max_cpus as int ) }
    memory = { try { def _m = 6.GB * task.attempt; if( _m.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ) params.max_memory as nextflow.util.MemoryUnit else _m } catch(all) { 6.GB * task.attempt } }
    time   = { try { def _t = 4.h * task.attempt; if( _t.compareTo(params.max_time as nextflow.util.Duration) == 1 ) params.max_time as nextflow.util.Duration else _t } catch(all) { 4.h * task.attempt } }

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_low {
        cpus   = { Math.min( 2     * task.attempt, params.max_cpus as int ) }
        memory = { try { def _m = 6.GB * task.attempt; if( _m.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ) params.max_memory as nextflow.util.MemoryUnit else _m } catch(all) { 6.GB * task.attempt } }
        time   = { try { def _t = 72.h * task.attempt; if( _t.compareTo(params.max_time as nextflow.util.Duration) == 1 ) params.max_time as nextflow.util.Duration else _t } catch(all) { 72.h * task.attempt } }
    }
    withLabel:process_medium {
        cpus   = { Math.min( 6     * task.attempt, params.max_cpus as int ) }
        memory = { try { def _m = 16.GB * task.attempt; if( _m.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ) params.max_memory as nextflow.util.MemoryUnit else _m } catch(all) { 16.GB * task.attempt } }
        time   = { try { def _t = 72.h * task.attempt; if( _t.compareTo(params.max_time as nextflow.util.Duration) == 1 ) params.max_time as nextflow.util.Duration else _t } catch(all) { 72.h * task.attempt } }
    }
    withLabel:process_high {
        cpus   = { Math.min( 12    * task.attempt, params.max_cpus as int ) }
        memory = { try { def _m = 32.GB * task.attempt; if( _m.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ) params.max_memory as nextflow.util.MemoryUnit else _m } catch(all) { 32.GB * task.attempt } }
        time   = { try { def _t = 72.h * task.attempt; if( _t.compareTo(params.max_time as nextflow.util.Duration) == 1 ) params.max_time as nextflow.util.Duration else _t } catch(all) { 72.h * task.attempt } }
    }
    withLabel:process_long {
        time   = { try { def _t = 120.h * task.attempt; if( _t.compareTo(params.max_time as nextflow.util.Duration) == 1 ) params.max_time as nextflow.util.Duration else _t } catch(all) { 120.h * task.attempt } }
    }
    withLabel:process_high_memory {
        memory = { try { def _m = 64.GB * task.attempt; if( _m.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1 ) params.max_memory as nextflow.util.MemoryUnit else _m } catch(all) { 64.GB * task.attempt } }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 3
    }
    //withName:CUSTOM_DUMPSOFTWAREVERSIONS {
    //    cache = false
    //}
}


